:root {
  --token-width:200px;
}
body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
h1, h2{
  font-weight: 600;
}
img{
  max-width: 100%;
  max-height: 100%;
}

.title {
  font-family: "DM Serif Display", serif;
  font-weight: 600;
  text-transform: uppercase;
}

header.MuiPaper-root {
  margin-bottom: 80px;
}

@media only screen and (max-width: 900px) {
  header.MuiPaper-root {
    margin-bottom: 60px;
  }
}
