.artist-single{
    margin-bottom:50px;
    .image{
        width: 385px;
        height: 385px;
        border: 2px solid #f4f3f3;
        img{
            width: 100%;
        }
    }
    .details{
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
    }
    label{
        text-transform: uppercase;
        font-weight: bold;
    }
    .name{
        text-transform: capitalize;
    }
    .actions{
        margin-top: 10px;
    }
}
@media only screen and (min-width: 900px) {
    .artist-single .details { padding-left:50px;}
}
@media only screen and (max-width: 900px) {
    .artist-single .details { padding-top:50px;}
}