.artist-single{
    margin-bottom:50px;
    .image{
        width: 385px;
        height: 385px;
        border: 2px solid #f4f3f3;
        img{
            width: 100%;
        }
    }
    .details{
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
    }
    label{
        text-transform: uppercase;
        font-weight: bold;
    }
    .name{
        text-transform: capitalize;
    }
    .actions{
        margin-top: 10px;
    }
}
.additional-details{
    h4, h5, h6{
        text-transform: capitalize;
        font-weight: 600;
        border-top: 1px solid #000;
        margin-top: 30px;
        padding: 10px 0 20px 0;
    }
}
@media only screen and (min-width: 900px) {
    .artist-single .details { padding-left:50px;}
}
@media only screen and (max-width: 900px) {
    .artist-single .details { padding-top:50px;}
}