.title {
  font-family: "DM Serif Display", serif;
  font-weight: 600;
  text-transform: uppercase;
}
header.MuiPaper-root {
  margin-bottom: 80px;
}
.app-footer {
  // display: grid;
  // justify-content: space-around;
}

@media only screen and (max-width: 900px) {
  header.MuiPaper-root {
    margin-bottom: 60px;
  }
}
